app-info:
  name: 工程名字
  location: projectname
  version: 1.0.0
  port: 8080
server:
  port: ${app-info.port}
  context-path: /${app-info.location}
spring:
  profiles:
    active: dev
  # 所有环境通用的配置，放在这里

  # 404 交给异常处理器处理
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false